<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="_csrf" th:content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<style>
body {
	font-family: "Lato", sans-serif;
}
</style>
<link rel="stylesheet" type="text/css" href="/assets/css/sidebar.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
	integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
	crossorigin="anonymous">
<!-- jQuery library -->
</head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<body>
	<div th:replace="UIFragment/baseNavigation::admin-sidebar"></div>

	<header th:replace="UIFragment/baseNavigation::header"></header>


	<div class="container p-3 " style="">
		<h2>
			Manage Sub-Admin <a href="#" style="color: green"><i
				class="fa fa-table"></i></a> <a href="" style="color: green"><i
				class="fas fa-redo-alt" style="float: right; font-size: 0.73em"></i></a>
		</h2>
		<hr>
		<br>
		<h2 align="center">
			<a href="#" onclick="addSubAdmin()"> Add Sub-Admin<a> <br>
					<hr>



					<div class="row text-center " id="emailId">
						<div class="col text-center" style="background-color:;">

							<h4>
								<label>EmailId</label>
						</div>
						<div class="col text-left" style="background-color:;">
							<input type="email" id="username"
								pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
								class="form-control"><br>
						</div>

					</div>






					<div class="row text-center " id="department">
						<div class="col text-center" style="background-color:;">

							<h4>
								<label>Department</label>
						</div>
						<div class="col text-left" style="background-color:;">

							<select class="form-control" id="deptSel">
								<option value=0>select Department</option>
								<option th:each="dept :${deptMap}" th:value="${dept.key}"
									th:text="${dept.value}"></option>
							</select>
						</div>

					</div>


					<div class="row text-center " id="Submit">
						<div class="col text-center" style="background-color:;">
							<button type="button" class="btn btn-primary" id="submit">Submit</button>
							<br>
							<hr>
							<br>
						</div>

					</div>

					<h2 align="center">
						<a href="#" onclick="deleteSubAdmin()"> Delete Sub-Admin<a>
								<hr>
								<div class="row text-center " id="emailId1">
									<div class="col text-center" style="background-color:;">

										<h4>
											<label>Email-Id</label>
									</div>
									<div class="col text-left" style="background-color:;">
										<input type="email" id="delusername" class="form-control"><br>
									</div>

								</div>
								<div class="col text-center" style="background-color:;"
									id="delete">
									<button type="button" id="del" class="btn btn-primary">Delete</button>
								</div>
	</div>



	<br>

	<div th:insert="~{UIFragment/modal.html}"></div>
	<th:block th:replace="UIFragment/baseNavigation::navigateScript"></th:block>
	<script src="/assets/js/ajaxutils/headerInclusion.js"></script>
	<script>

                  $(function(){
					
                	$('#submit').click(function(){
                		if($('#username').val() == '' || $("#deptSel :selected").val()==0){
                			alert("fill properly before submitting"); 
                			return;
                		} 
                		var json = {
                				username : $('#username').val(),
                				department : $('#deptSel :checked').val()
                		}
                		var jsonString = JSON.stringify(json);
                		$.ajax({
                			type:"post",
                			url:"/admin/subadmin",
                			processData:false,
    						contentType: 'application/json; charset=utf-8',
                			data:jsonString,
                			success:function(response){
                				$('.modal-title').text("Message!");
								$('.modal-body').text(response);
								$('#ModalCenter').modal('show');
                				
                			}
                		});
                		
                	});
                	$('#del').click(function(){
                		if($('#delusername').val() == '' ){
                			alert("fill properly before submitting"); 
                			return;
                		} 
                		
                		$.ajax({
                			type:"delete",
                			url:"/admin/sub-admin/"+$('#delusername').val(),
                			success:function(response){
                				
                				if(response){
                					$('.modal-title').text("Message!");
    								$('.modal-body').text("Deleted the requested account");
    								$('#ModalCenter').modal('show');	
                				}else{
                					$('.modal-title').text("Message!");
    								$('.modal-body').text("Could NOT Delete the requested account!");
    								$('#ModalCenter').modal('show');
                				}
                				
                				
                			}
                		});
                		
                	});
                	  
                    $("#emailId").hide();
                    $("#emailId1").hide();
                   
                    $("#department").hide();
                    $("#Submit").hide();
                    $("#delete").hide();



                  });
                  $(document).on('click', '#click', function () {

                    alert("defvs");


                  });


                  function addSubAdmin()
                  {

                    $("#emailId").show();
                    
                    $("#department").show();
                    $("#Submit").show();


                    $("#emailId1").hide();
                    $("#delete").hide();



                  }
                  function deleteSubAdmin()
                  {
                    $("#emailId1").show();
                    $("#delete").show();


                    $("#emailId").hide();
                    
                    $("#department").hide();
                    $("#Submit").hide();


                  }

                  </script>
</body>
</html>
